@import url(https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.product_type {
  text-transform: uppercase;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 14px;
  color: #999;
}

.product_type-text {
  letter-spacing: 5px;
}

.product-name {
  font-family: 'Fraunces', serif;
  padding: 10px 0 20px;
}

.product_description_paragraph {
  padding: 0 30px 0 0;
  font-family: 'Montserrat', serif;
  line-height: 30px;
  font-weight: 500;
  font-size: 14px;
  color: #999;
}

.product_prices-new_price {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: hsl(158, 36%, 37%)
}

.product_prices-old_price {
  font-family: 'Montserrat', serif;
  font-weight: 500px;
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}

.button_purchase-text {
  padding: 20px;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  color: #fff;
}

.attribution {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
}

.link:hover {
  color: hsl(158, 35%, 25%);
}

.link:active {
  color: hsl(159, 35%, 13%);
}

@media screen and (max-width: 1445px) and (min-width: 651px) {

  .main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5 0px auto;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
    max-width: 620px;
    border-radius: 10px;
  }

  .image_container {
    background-position: center;
    background-size: cover;
    height: 520px;
    width: 680px;
    border-radius: 10px 0 0 10px;
    background-image: url(../images/image-product-desktop.jpg);
  }

  .product-description {
    width: 650px;
    padding: 30px;
  }

  .product_prices {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px 0;
    gap: 30px;
  }

  .button_purchase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
  }

  .button_purchase-container:hover {
    background-color: hsl(158, 35%, 25%);
  }

  .button_purchase-container:active {
    background-color: hsl(159, 35%, 13%);
  }

  .button_purchase-text {
    text-decoration: none;
  }
}

@media screen and (max-width: 650px) {

  .main_wrapper {
    margin: 40px 20px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .image_container {
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    height: 300px;
    width: 100%;
    background-image: url(../images/image-product-mobile.jpg);
  }

  .product-description {
    padding: 30px;
  }

  .product_prices {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 60px 0 0;
    gap: 30px;
  }

  .button_purchase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
  }

  .button_purchase-container:hover {
    background-color: hsl(158, 35%, 25%);
  }

  .button_purchase-container:active {
    background-color: hsl(159, 35%, 13%);
  }
  
  .button_purchase-text {
    text-decoration: none;
  }
}
